<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/amey/IdeaProjects/ATB9x_APIAutomationFramework/src/test/java/com/thetestingacademy/Tests/CRUD/test_CreateBooking.java"><classes><class name="com.thetestingacademy.Tests.CRUD.test_CreateBooking"><methods><include name="test_VerifyCreateBookingPOST01"/></methods></class></classes></test></suite>